extends ./base

block styles
  link(rel="stylesheet/less", type="text/css", href="/static/css/home.less")
  
block page-content
  #sgd-info.info-block 
    | This repository is the host for USGIN system policy, documentation, and specification documents.
 
  #ngds-info.info-block
    | Documents in this repository are developed by the USGIN community, and posted to this repository
    | when they are adopted for use. The development site is on GitHub at 
    a(href="https://github.com/usgin/usginspecs").highlight USGINSpecs. 
    p
      | Information exchanges are each developed in separate GitHub 
      a(href="https://github.com/usgin-models").highlight usgin-models 
      | repository. 
    p    
    p: strong
      | For more information, visit
      a(href="http://usgin.org").highlight http://usgin.org
      | .
    p: strong
      a(href="http://catalog.usgin.org/geoportal/", style="font-size: 18px;" )  Search the USGIN Catalog
      

    
block sidebar-content
    // #new-resources-block
    // h2#new-resources-title.block-title Latest Contributions
    // #new-resources-content.block-content
    // ul#site-info-menu.menu
    // li#site-info-about Coming Soon!