extends ./base

block styles
  link(rel="stylesheet/less", type="text/css", href="/static/css/home.less")
  
block page-content
  #sgd-info.info-block 
    | This repository is the host for USGIN system policy, documentation, and specification documents.
 
  #ngds-info.info-block
    | Documents in this repository are developed by the USGIN community. The development site is on
    GitHUB at 
    a(href="https://github.com/usgin/usginspecs").highlight USGINSpecs.
    p
    | Information exchanges are each developed in separate GitHub 
    a(href="https://github.com/usgin-models").highlight
    usgin-models repositories  
    p
    | For more information, visit
      a(href="http://usgin.org") http://usgin.org
  
  #usage-blocks
    a(href="/repository/browse/")
      span#browse-block.use-block Browse the Collections
      img(src="/static/img/book.png")
    a(href="/repository/search/")
      span#search-block.use-block Manage Resources
      img(src="/static/img/document.png")
 //   a(href="/accounts/register/")
 //    span#login-block.use-block Register for an Account
 //    img(src="/static/img/user.png")
        
  a(href="http://search.stategeothermaldata.org")#sgd-search.info-block
    img(src="/static/img/search-image.png").block-border
    #search-link-text
      p: strong Search for Geothermal Data
      p 
        | The records in this repository represent a subset of the information available as part of the
        strong State Geothermal Data Project.
      p 
        | To search the entire collection, visit 
        span.highlight http://search.stategeothermaldata.org
      .icon-container
        img(src="/static/img/magnify.png")
    
block sidebar-content
  #new-resources-block
    h2#new-resources-title.block-title Latest Contributions
    #new-resources-content.block-content
      ul#site-info-menu.menu
        li#site-info-about Coming Soon!