extends ./base

block styles
  link(rel="stylesheet/less", type="text/css", href="/static/css/home.less")
  
block page-content
  #sgd-info.info-block 
    | This repository is the host for USGIN system policy, documentation, and specification documents.
    | , organized by the 
    a(href="http://stategeologists.org").highlight Association of American State Geologists 
    | with funding from the 
    a(href="http://www.energy.gov").highlight Department of Energy.
 
  #ngds-info.info-block
    | The information collected by the State Geothermal Data Project is contributed to the 
    a(href="http://geothermaldatasystem.org").highlight National Geothermal Data System. 
    p
      | For more information, visit
      a(href="http://geothermaldatasystem.org") http://geothermaldatasystem.org
  
  #usage-blocks
    a(href="/repository/browse/")
      span#browse-block.use-block Browse the Collections
      img(src="/static/img/book.png")
    a(href="/repository/search/")
      span#search-block.use-block Manage Resources
      img(src="/static/img/document.png")
    a(href="/accounts/register/")
      span#login-block.use-block Register for an Account
      img(src="/static/img/user.png")
        
  a(href="http://search.stategeothermaldata.org")#sgd-search.info-block
    img(src="/static/img/search-image.png").block-border
    #search-link-text
      p: strong Search for Geothermal Data
      p 
        | The records in this repository represent a subset of the information available as part of the
        strong State Geothermal Data Project.
      p 
        | To search the entire collection, visit 
        span.highlight http://search.stategeothermaldata.org
      .icon-container
        img(src="/static/img/magnify.png")
    
block sidebar-content
  #new-resources-block
    h2#new-resources-title.block-title Latest Contributions
    #new-resources-content.block-content
      ul#site-info-menu.menu
        li#site-info-about Coming Soon!