extends ./base

block page-title
	title Change Password

block styles
	link(rel="stylesheet/less", type="text/css", href="/static/css/change-password.less")
	
block page-content
	#change-password-block
		#change-password-title.block-title Change Password
		#change-password-content.block-content
			form(method='post')
				ul
					{{ form.as_ul }}
				center
					input(type="submit", value="Change Password")