extends ./base

block styles
	link(rel="stylesheet/less", type="text/css", href="/static/css/thanks.less")

block page-content
	#thanks-block
		#thanks-title.block-title Thank you
		#thanks-content.block-content
			center Thanks for signing up!
			div An administrator will email you when your account is activated.