@import "base.less";

#usage-blocks {
  width: 100%;
  a {
    display: inline-block;
    width: 200px;
    height: 150px;
    margin: 3px;
    text-align: center;
    .block-content();
    border-top-left-radius: @block-radius;
    border-top-right-radius: @block-radius;
    color: @footer-color;
    font-weight: bold;
    text-decoration: none;
    &:hover {
      //border-color: darken(@block-border-color, 10%);
      background-color: lighten(@block-bg-color, 10%);
      //color: darken(@footer-color, 10%);
    }
  }
}

.highlight {
  color: @orange-color;
  font-weight: bold;
}

.info-block {
  text-align: center;
  margin-bottom: 10px;
  font-size: 12px;
  width: 680px;
  a {
    text-decoration: none;
    .highlight();
    &:hover {
      text-decoration: underline;
    }
  }
}

#sgd-search {
  text-decoration: none;
  position: relative;
  .block-border {
    border-radius: @block-radius;
    border: 1px solid @block-border-color;
  }
  #search-link-text {
    text-align: left;
    color: @footer-color;
    font-size: 16px;
    position: absolute;
    width: 300px;
    top: -330px;
    left: 380px;
  }
  p {
    margin-bottom: 25px;
  }
  .icon-container {
    text-align: center;
  }
}
