#new-collection-dialog(title="Create a new Collection")
	h3 Add a new collection to "#{parentCollection}"
	p
		label(for="new-collection-title") Title: 
		input(id="new-collection-title", name="new-collection-title")
	p
		label(for="new-collection-description") Description: 
		textarea(id="new-collection-description", name="new-collection-description")			
