fieldset
	legend
		span Geographic Extent
	ul#geographic-extent-list.object(attr="GeographicExtent")
		li#geographic-extent-northBound.required.key-value
			span.label North Bound
			input(attr="NorthBound", value="#{NorthBound}")
		li#geographic-extent-southBound.required.key-value
			span.label South Bound
			input(attr="SouthBound", value="#{SouthBound}")
		li#geographic-extent-eastBound.required.key-value
			span.label East Bound
			input(attr="EastBound", value="#{EastBound}")
		li#geographic-extent-westBound.required.key-value
			span.label West Bound
			input(attr="WestBound", value="#{WestBound}")