fieldset
	legend.small-legend
		span Address
	ul.object
		li.required.key-value
			span.label Street
			input(attr="Street", value=Street)
		li.required.key-value
			span.label City
			input(attr="City", value=City)
		li.required.key-value
			span.label State
			input(attr="State", value=State)
		li.required.key-value
			span.label Zip
			input(attr="Zip", value=Zip)