#add-collection-dialog(title="Add record to a collection")
	label(for="new-collection-selector") Type a collection name: 
	input#new-collection-selector
	input#new-selected-collection(style="display:none;")